@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-rgb: 20, 20, 20;
  }
}

body,
nav {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

input,
textarea {
  color: rgb(var(--background-rgb));
}

.app {
  @apply relative flex flex-col max-w-7xl mx-auto sm:px-16 px-6;
}
